<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>HANGMAN</title>
	
	<script th:inline="javascript">
		
		window.onload = function checkIfGameOver(){
			var triesRem = [[${tries}]] ;
			if(triesRem === 0){
				alert("Game Over");
				document.getElementById("guessInput").disabled= true;
				document.getElementById("checkButton").disabled= true;
			}
			
		}
		
		function reloadGame(){
			window.location.href = "http://localhost:8080/reload";
		}
		
	</script>
	
</head>

<body>
	<h1 align="center">Guess the Word</h1>
	<h2>hii</h2>
	<h2 align="center" th:text="${wordToDisplay}"></h2>
	<h2 th:text="'Tries Remaining:'+ ${tries}"></h2>
	<hr />
	<input type="button" value="reload" id="reload" style="float:right" onclick="reloadGame();"/>
	<div align="center">
		<form action="game-home" method="GET">
			<label>Guess the Character:</label>
			<input type="text" name="guessedChar" id="guessInput"/>
			<input type="submit" value="check" id="checkButton" onclick="checkIfGameOver();"/>
		</form>
	</div>
</body>

</html>